/* this is just dummy dev css */
body {
  margin: 0;
  background-color: #5a5a5a;
  color: white;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
  gap: 1rem;
}

.article-card {
  border: 2px solid rgb(51, 255, 0);
  padding: 1rem;
  background-color: #414141;
  cursor: pointer;
  transition: all 0.3s ease;
}

.article-card:hover{
  border-color: blue;
  transform: translateY(-2.5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.article-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
